.PrimaryHeader {
    font-family: 'Archivo Black', sans-serif;

    width: 50%;
    margin: 0;

    position: absolute;
    padding-top: 300px;
    margin-right: 50px;

    text-align: right;
}

.SecondaryHeader {
    font-family: 'Archivo Black', sans-serif;

    width: 50%;
    margin: 0;
    
    position: absolute;
    padding-top: 350px;

    text-align: right;
}

@media (max-width: 499px) {
    .PrimaryHeader {
        padding-top: 0px;
        width: 100%;
        text-align: left;
    }
    .SecondaryHeader {
        display: none;
    }
}