/*
Attributes defined in here are globally applied to the entire project. Use with caution! 
*/

body {
  margin: 0;
  font-family: 'B612 Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Gfonts import */
@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');